/* ============ Variable CSS ============ */
:root {
  /* =============== Colors ===============  */
  --container-color: #e2e8f0;
  --pencil-black: #020617;
  --pencil-blue: #0369a1;
  --pencil-red: #b91c1c;
  --minimize: #22c55e;
  --close: #dc2626;
}

/* =============== Base ================= */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.options-container {
  height: 3rem;
  width: 3rem;
  font-size: 1.25rem;
  border-radius: 100%;
  background-color: var(--container-color);

  position: absolute;
  top: 1rem;
  left: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.options-container:hover {
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.15);
}

.tools-container > * {
  display: block;
  width: 2.25rem;
  padding: 0 0.25rem;
  cursor: pointer;
}
.tools-container {
  display: flex;
  height: 3rem;
  width: 50vw;
  background-color: var(--container-color);
  border-radius: 0.5rem;
  justify-content: space-around;

  position: absolute;
  top: 1rem;
  right: 20%;
}

.pencil-tool-container {
  height: 4rem;
  width: 8rem;
  border-radius: 0.5rem;
  background-color: var(--container-color);

  position: absolute;
  top: 4.25rem;
  left: 30%;
  display: none;
}

.pencil-width-container {
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pencil-width-container input {
  height: 0.25rem;
  width: 80%;
  cursor: pointer;
}

.pencil-color-container {
  height: calc(100% - 1.5rem);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.pencil-color {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  border: 1px solid #94a3b8;
  cursor: pointer;
}

.black {
  background-color: var(--pencil-black);
}
.blue {
  background-color: var(--pencil-blue);
}
.red {
  background-color: var(--pencil-red);
}

.eraser-tool-container {
  height: 1.75rem;
  width: 8rem;
  border-radius: 0.5rem;
  background-color: var(--container-color);

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 4.25rem;
  left: 35%;

  display: none;
}
.eraser-width-container {
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.eraser-width-container input {
  height: 0.25rem;
  width: 80%;
  cursor: pointer;
}

/* ======= Container Scale Animation ======== */

.scale-tools {
  animation-name: scale-tools;
  animation-duration: 0.25s;
}

@keyframes scale-tools {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}

/* ====== Sticky Note ====== */

.sticky-container {
  width: 15rem;
  border-radius: 0.25rem;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;

  position: absolute;
  top: 15rem;
  left: 15rem;

  -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.25);
}
.sticky-container:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
.header-container {
  height: 1.5rem;
  background-color: var(--container-color);
  border-radius: 0.25rem 0.25rem 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.header-container > * {
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  cursor: pointer;
}
.minimize {
  background-color: var(--minimize);
}
.remove {
  background-color: var(--close);
}

.note-container {
  height: 12rem;
}

textarea {
  padding: 1rem;
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  resize: none;
}
img {
  height: 100%;
  width: 100%;
}

/* ========= Canvas ========  */
canvas {
  cursor: crosshair;
}
